.Final_Outer {
    padding-left: 400px;
}

.Final_Step {
    font-size: 30px;
    color: #046874;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Label_Email {
    font-size: 20px;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

span {
    font-weight: 500;
}